@media screen and (max-width: 922px) {
    .input-cari .button-secondary {
        width: 120px;
        height: 60px;
        border-radius: 0;
        font-size: 14px;
    }

    .input-cari .button-primary {
        font-size: 24px;
        height: 60px !important;
    }

    .input-cari .form-control {
        height: 60px !important;
    }

    #rekomendsasi {
        margin-top: 100px;
    }

    .button-fitur {
        width: 100%;
    }

    #contact h3 {
        font-size: 30px;
        width: 100%;
    }

    .card-contact {
        width: 100%;
        height: auto;
        margin-top: 42px;
    }

    .card-contact h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .button-primary {
        display: block;
        width: 100%;
        border-radius: 0;
    }

    .button-secondary {
        display: block;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}

@media screen and (max-width: 576px) {
    .hero-tagline h1 {
        line-height: 52px;
    }

    .img-hero {
        width: 75%;
        height: auto;
    }

    h2 {
        font-size: 34px;
    }

    .sub-tittle {
        font-size: 16px;
    }

    .card-layanan {
        margin: 15px 0;
    }

    #search h2 {
        font-size: 42px;
        line-height: 52px;
    }

    #search p {
        font-size: 18px;
        line-height: 24px;
    }

    .input-cari .button-secondary {
        width: 50%;
        height: 60px;
        border-radius: 0;
    }

    .input-cari .button-primary {
        height: 60px;
        width: 30%;
        font-size: 20px;
        border-radius: 0 0 10px 0;
    }

    .input-cari .form-control {
        height: 60px !important;
    }
}